.c-form {
    display: block;
    padding: 0 $space_s;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 40px;
    color: $font-color_form;
    border: 1px solid $font-color_form;
    font-size: $font-size_default;
    border-radius: 2px;
    &::placeholder {
        color: $font-color_placeholder;
    }
    &:focus {
        outline: none;
        border: 1px solid $font-color_default;
        background-color: $color_default-off;
    }
    &__msg {
        &--error {
            color: $color_rest;
        }
    }
}
