.c-img {
    &--s {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        @include mq() {
            width: 100%;
            height: auto;
        }
        &--tweet {
            display: inline-block;
        }
    }
    &--m {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }
}
