.u-display {
    &--md {
        display: none;
        @include mq() {
            display: block;
        }
    }
    &--slg {
        display: none;
        @include mq(slg) {
            display: block;
        }
    }
    &--title {
        display: none;
        @media screen and (max-width: 1010px) {
            display: block;
        }
    }
}
