// margin-right
.u-mr-10 {
    margin-right: 10px;
}
.u-mr-20 {
    margin-right: 20px;
}
.u-mr-30 {
    margin-right: 30px;
}
.u-mr-40 {
    margin-right: 40px;
}
.u-mr-50 {
    margin-right: 50px;
}

// magin-bottom
.u-mb-10 {
    margin-bottom: 10px;
}
.u-mb-20 {
    margin-bottom: 20px;
}
.u-mb-30 {
    margin-bottom: 30px;
}
.u-mb-40 {
    margin-bottom: 40px;
}
.u-mb-50 {
    margin-bottom: 50px;
}


