.u-w100 {
    width: 100%;
}

.u-fsize-default {
    font-size: $font-size_default;
}
.u-fsize-l {
    font-size: $font-size_l;
}
.u-fsize-default {
    font-size: $font-size_xl;
}
.u-fsize-default {
    font-size: $font-size_3l;
}
